<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }
    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }
  </style>

  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarLeftAlignExample"
      aria-controls="navbarLeftAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog Posts</a>
        </li>
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">Lifestyle</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Health</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Family</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Travel</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Work</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
            >Disabled</a
          >
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
  <!-- Navbar -->
<br>
  <!-- Jumbotron -->
  <!-- <div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-3 h2">Learn Bootstrap 5 with MDB</h1>
    <p class="mb-3">Best & free guide of responsive web design</p>
    <a class="btn btn-primary m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button" rel="nofollow"
      target="_blank">Start tutorial</a>
    <a class="btn btn-primary m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
      role="button">Download MDB UI KIT</a>
  </div> -->
  <!-- Jumbotron -->
</header>
<!--Main Navigation-->
