  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
<!--
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4" *ngFor="let h of health">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{h.urlToImage}}" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{h.title}}</h5>
                <p class="card-text">
                  {{h.description}}
                </p>
                <a href="#!" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div> -->
      <!--Section: Content-->


  <!--Main layout-->
